@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

body {
    background-color: white;
    background-image: linear-gradient(
        to right,
        rgb(242, 112, 156),
        rgb(255, 148, 114)
    );
}

body {
    @include flex();
    height: 100vh;
}

.box {
    background-image: linear-gradient(to right, #4491a6, #57d2f2);
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    animation: initialAnim 0.5s linear;
}

.box {
    width: clamp(300px, 90vw, 500px);
    padding: 30px 0px;
}

.viewValue__currentMoneyValue,
.changeAndView__moneyValue,
.enterValue__realValue {
    color: white;
    line-height: 2em;
}

.changeAndView__moneyValue {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

.enterValue__inputRealValue {
    padding: 10px;
}

.enterValue__inputRealValue {
    border-radius: 12px;
    border-color: transparent;

    &:focus {
        outline: none;
    }
}

.changeAndView__coins {
    border-color: transparent;
    background-color: transparent;
    color: white;

    &:focus {
        outline: none;
    }
}

.changeAndView__coins {
    margin-left: 10px;
}

.changeAndView {
    @include flex();
    justify-content: center;
}

.enterValue {
    @include flex();
    gap: 7px;
}

.changeAndView__coin {
    color: black;
}

@keyframes initialAnim {
    0% {
        transform: translateY(20vh);
        opacity: 0%;
    }
    100% {
        transform: rotateY(0vh);
        opacity: 100%;
    }
}
